################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LicenseServer/FileContentIndex
/Properties/PublishProfiles
/bin/Debug/net7.0
/.vs
